.tabs {
  list-style: none;
  margin: 0 0 10px;
  padding-left: 10px;
  line-height: 24px;

}
.tabs li {
  cursor:pointer;
  margin: 0 1.2px;
  padding: 0 10px;
  border: 2px solid #AAA;
  background: #ECECEC;
  display: inline-block;
}
.tabs li.selected {
  background: #FFF;
  border-bottom-color: black;
  color: #000;
}